.container {
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 3px #333;
}

.prodStatus {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: orange;
}
