.container {
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.prodInfo {
    flex: 1;
    flex-direction: column;
}

.statButton {
    align-self: flex-end;
    width: 115px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: rgba(25, 118, 210, 0.5);
    color: #333;
    font-size: 18px;
}

.inStock {
    background-color: green;
    font-weight: 550;
    color: honeydew;
}