div, input, ul, li, input, p {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0%;
  max-width: 100vh;
}

ul, li {
  flex-direction: column;
}

input:disabled {
  opacity: 1;
}

.App {
  flex: 1;
  flex-direction: column;
}

.headerTitle {
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: #333;
}